#random-message {
	background-color: #fff;
}

.message-control{
	text-align: center;
	padding: 10px;
}

.send-button{
	width: 203px;
	line-height: 40px;
	margin: 5px 5px;
	background-image: url(../img/green-bg.png);
	background-color: transparent;
	border-color: #A96CC4;
	position: relative;
}

.send-button:hover{
	border-color: #fff;
}

.action-button{
	width: 50%;
	background-color: #000;
}

.image{
	display: none;
	position: absolute;
	top: 15px;
	left: 65%;
}

.image img{
	height: 20px;
}

.enable{
	display: inline-block;
}

.result{
	position: relative;
	display: flex;
	justify-content: center;
}

.result-textarea{
	margin-top: 20px;
	resize: none;
}

.spinner{
	position: absolute;
	left: 49%;
	top: 60px;
}